{% extends "layouts/base-presentation.html" %}

{% block title %} Dish Types {% endblock title %}

{% block content %}
  <div class="page-header section-height-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/kitchen.png')">
    <div style="margin-top: 75px" class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <center>
            <div class="p-2 bg-gradient-faded-light">
              <h1>
                Dish Type List <a class="btn btn-primary link-to-page" href="{% url 'kitchen:dish-type-create' %}">Create</a>
              </h1>
              {% include "includes/search.html" %}
            </div>
            {% if dish_type_list %}
              <style>
                .custom-table {
                    width: 100%;
                    margin-bottom: 1rem;
                    color: #212529;
                    background-color: #ffffff;
                }

                .custom-table th,
                .custom-table td {
                    padding: 0.75rem;
                    vertical-align: top;
                    border-top: 1px solid #dee2e6;
                }

                .custom-table thead th {
                    vertical-align: bottom;
                    border-bottom: 2px solid #dee2e6;
                }

                .custom-table tbody+tbody {
                    border-top: 2px solid #dee2e6;
                }

                .custom-table tbody tr:nth-of-type(odd) {
                    background-color: rgba(0, 0, 0, 0.05);
                }

                .custom-table tbody tr:hover {
                    background-color: rgba(0, 0, 0, 0.075);
                }

                .custom-table th,
                .custom-table td {
                    border: 1px solid #dee2e6;
                }
            </style>
            <table class="custom-table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for type in dish_type_list %}
                  <tr>
                    <td>
                        {{ type.id }}
                    </td>
                    <td>
                        {{ type.name }}
                    </td>
                    <td>
                      <a class="text-primary" href="{% url 'kitchen:dish-type-update' pk=type.id %}">
                        Update
                      </a>
                    </td>
                    <td>
                      <a class="text-danger"
                        href="{% url 'kitchen:dish-type-delete' pk=type.id %}">
                        Delete
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            {% include "includes/pagination.html" %}
            {% else %}
                <p>There are no dish types in the service.</p>
            {% endif %}
          </center>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
