{% extends "layouts/base-presentation.html" %}

{% block title %} Create {% endblock title %}

{% load crispy_forms_filters %}
{% block content %}
  <div class="bg-gradient-faded-light-vertical">
    <div class="container mt-7">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ object|yesno:"Update,Create" }} Ingredient</h1>
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="{{ object|yesno:"Update,Create" }}">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
