{% extends "base.html" %}

{% block content %}
  <h1>
    Ingredient List
  </h1>

  {% if ingredient_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for ingredient in ingredient_list %}
        <tr>
          <td>
              {{ ingredient.id }}
          </td>
          <td>
              {{ ingredient.name }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>There are no ingredients in the service.</p>
  {% endif %}
{% endblock %}
